@value makerLightGrey, makerGradient from "../../common/colors.css";

.wrap {
  width: 100%;
}

.movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgLayer {
  width: 100%;
  min-height: 70vh;
  background-color: #070707c2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 1350px;
  margin-top: 30px;
  margin-left: 60px;
  font-weight: normal;
  font-size: 1.4em;
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 5px;
  height: 80%;
  width: 5px;
  border-radius: 2px;
  background: makerGradient;
}
