@value makerBlack, makWhitemakerPrimary, makerSecondary, makerLightGrey, makerDarkGrey from "../../common/colors.css";

.movie {
  width: 250px;
  margin: 0 10px 30px;
  background: #1a1a1a;
}

.textBox {
  width: 100%;
  padding: 20px 10px 10px;
}

.rate {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  height: 50px;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 1.1em;
}

.date {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.numbers {
  margin-left: 5px;
  display: inline-block;
  font-weight: lighter;
  font-size: 0.9em;
  color: makerLightGrey;
}

.myList,
.watchTrailer {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 8px 0;
  width: 100%;
  border-radius: 5px;
  color: makerWhite;
  font-weight: lighter;
  transition: all 0.35s ease-in;
}

.myList {
  background-color: #ffffff14;
}

.myList:hover,
.watchTrailer:hover {
  background-color: #ffffff4d;
  color: #fff;
}

/* 포스터 이미지 호버 이펙트 */
.imgBox {
  background: #1a1a1a;
  position: relative;
}

.poster {
  width: 250px;
  height: 380px;
  position: relative;
}

.circle {
  position: relative;
  height: 35px;
  width: 35px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  text-align: center;
}

.circle::before,
.circle::after {
  border: 2px solid makerLightGrey;
  border-right-color: transparent;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.35s ease-in-out;
  transition-delay: 0.3s;
}

.circle::before {
  transform: rotate(45deg);
}

.circle::after {
  transform: rotate(-45deg);
}

.caption {
  cursor: pointer;
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow: hidden;
}

.addMyList {
  position: absolute;
  font-weight: lighter;
  font-size: 1.2em;
  top: 13px;
  left: 18px;
  opacity: 0;
  transition: all 0.35s;
  transform: translateX(-10%);
}

.releaseDate,
.posterTitle {
  opacity: 0;
  transition: all 0.35s;
  margin-left: 2%;
}

.releaseDate {
  font-weight: lighter;
  color: makerLightGrey;
}

.posterTitle {
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.3em;
}

.imgBox:hover .caption {
  background-color: rgba(0, 0, 0, 0.4);
}

.imgBox:hover .circle {
  background-color: rgba(0, 0, 0, 0);
}

.imgBox:hover .circle::before,
.imgBox:hover .circle::after {
  transform: rotate(0deg);
  transition-delay: 0s;
}

.imgBox:hover .addMyList {
  opacity: 1;
  transition-delay: 0.3s;
  transform: translateX(0);
}

.imgBox:hover .releaseDate,
.imgBox:hover .posterTitle {
  opacity: 1;
  transition-delay: 0.4s;
}

.imgBox:hover .plus {
  opacity: 0;
  transition-delay: 0s;
}
