@value makerGradient, makerLightGrey from "../../common/colors.css";
.wrap {
  width: 100%;
  min-height: 70vh;
}

.movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgLayer {
  width: 100%;
  background-color: #4747478f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  width: 1350px;
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 30px;
  color: makerLightGrey;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid makerLightGrey;
}

.title {
  width: 1350px;
  margin-top: 30px;
  margin-left: 60px;
  font-weight: normal;
  font-size: 1.4em;
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 5px;
  height: 80%;
  width: 5px;
  border-radius: 2px;
  background: makerGradient;
}
