@value makerGradient from "./common/colors.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
body {
  min-width: 1360px;
}
