@value makerBlack, makerWhite,makerPrimary,makerDarkGrey, makerGradient, makerSecondary, makerGrey, makerRed, makerWhite, makerLightGrey from "../../common/colors.css";

.navWrap {
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(167, 167, 167, 0.295);
}

.nav {
  width: 1320px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.menu {
  cursor: pointer;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  font-weight: lighter;
  color: makerwhite;
}

.searchBox {
  margin-left: 3%;
  flex-grow: 1;
}

.input {
  all: unset;
  height: 32px;
  padding-left: 15px;
  width: 87%;
  background-color: makerWhite;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: makerBlack;
}
.input:focus {
  color: makerBlack;
}

.search {
  all: unset;
  cursor: pointer;
  height: 32px;
  padding: 0 15px;
  border-left: 1px solid makerDarkGrey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: makerWhite;
  color: makerDarkGrey;
}

.login {
  all: unset;
  background: makerGradient;
  color: makerWhite;
  padding: 6px 15px;
  border-radius: 5px;
}
