@value makerGradient, makerBlack, makerWhite,makerPrimary,makerDarkGrey, makerGradient, makerSecondary, makerGrey, makerRed, makerWhite, makerLightGrey from "../../common/colors.css";

.navWrap {
  width: 100%;
  background-color: rgb(55, 49, 49);
  border-bottom: 1px solid rgba(167, 167, 167, 0.295);
}

.nav {
  width: 1260px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.menu {
  cursor: pointer;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  font-weight: lighter;
  color: makerwhite;
}

.menuLink {
  position: relative;
}

.menuLink::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  background: makerGradient;
  border-radius: 5px;
  height: 3px;
  width: 0;
  transition: all 0.3s ease-in;
}

.menuLink:hover::after {
  width: 100%;
}

.searchBox {
  margin-left: 3%;
  flex-grow: 1;
  height: 32px;
}

.input {
  all: unset;
  height: 100%;
  padding-left: 15px;
  width: 90%;
  background-color: makerWhite;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: makerBlack;
}
.input:focus {
  color: makerBlack;
}

.search {
  all: unset;
  cursor: pointer;
  height: 100%;
  padding: 0 15px;
  border-left: 1px solid makerDarkGrey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: makerWhite;
  color: makerDarkGrey;
}

.login:hover {
  opacity: 0.7;
}

.myList {
  position: relative;
}

.count {
  position: absolute;
  top: -5px;
  right: -17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #e60023;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.85em;
}
